/*color: #ffa400;*/

.container {
  background: #f2f3f4;
  max-width: 1720px;
  margin-top: 400px;
  z-index: 1;
}

h2,
h3,
p,
a {
  font-family: 'Dosis', sans-serif;
  color: #554935;
}

h3 {
  font-size: 2em;
  font-weight: 100;
  text-transform: uppercase;
  /*color: #737169;*/
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
}

strong {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

#content {
  text-align: center;
  position: relative;
}

#about:before,
#work:before,
#contact:before {
  display: block;
  content: ' ';
  margin-top: -220px;
  height: 220px;
  visibility: hidden;
}

#about h3 {
  padding: 1.2em 0;
}

.about-text {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.about-text p {
  line-height: 1.4em;
  padding-bottom: 0.8em;
}

#work {
  height: 600px;
}

#work h3 {
  padding: 1.2em 0;
}

.work-boxes li {
  width: 200px;
  height: 200px;
  background-color: #b9b8b4;
  display: inline-block;
  opacity: 0.8;
  text-align: center;
  position: relative;
  margin: 10px;
}

.work-boxes li a {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  top: 40%;
  transform: translateX(-50px);
  text-align: center;
}

.footer-nav-img {
  margin-top: 10px;
  background-image: url('../../images/footer.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #000;
  max-width: 100%;
  height: 100px;
  position: relative;
}

.copyright {
  position: absolute;
  bottom: 0;
  padding: 42px 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #554935;
  font-weight: 100;
  font-size: 1em;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -moz-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
