#contact {
  background-image: url("../../images/leeds.jpg");
  background-position: center;
  max-width: 100%;
  height: 420px;
  padding: 3% 20%;
  position: relative;
  text-align: center;
}

.contact-form-outer {
  width: 400px;
  height: 320px;
  padding-top: 20px;
  margin: 0px auto;
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.field {
  width: 300px;
  padding: 5px;
  border: none;
  outline: none;
  background: none;
  color: #554935;
  border-bottom: 2px solid #554935;
  margin-bottom: 8px;
}

#message {
  resize:none;
  height:100px;
  overflow-y:hidden;
}

#submit {
  padding: 8px;
  margin-right: 30px;
  width: 80px;
  float: right;
  border: none;
  background-color: #554935;
  color: white;
  font-size: .8em;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}

#submit:hover{
  opacity:0.7;
}

.social-media {
  width: 400px;
  height: 40px;
  padding-top: 10px;
  background-color: rgba(255,255,255,0.7);
  position: relative;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
}

.social-media a {
  position: absolute;
  font-weight: 700;
  font-size: 1.8em;
  color: #000;
}
