#header-nav-wrapper {
  background-image: url("../../images/lombok.jpg");
  background-position: center 40%;
  background-repeat: no-repeat;
  background-color: #f2f3f4; /* doesn't work */
  width: 100%;
  height: 400px;
  transition: 0.5s ease;
  top: 0;
  position: fixed;
  z-index: 2;
}

#header-nav-wrapper.smaller {
  height: 220px;
  transition: 0.5s ease;
}

#header .me {
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  font-size: 5em;
  text-align: center;
  text-transform: lowercase;
}

#nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  /*height: 15%;*/
}

#nav li {
  display: inline-block;
  text-align: center;
  padding: 10px;
}


.nav-text a {
  font-family: 'Dosis', sans-serif;
  color: #554935;
  font-weight: 100;
  font-size: 1.5em;
  text-transform: uppercase;
}

.nav-text a:hover {
  color: #000;
  font-weight: 200;
}